{
  "extends": [
    "@react-native-community",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "quoteProps": "preserve",
        "singleQuote": true,
        "tabWidth": 2,
        "trailingComma": "es5",
        "useTabs": false
      }
    ],
    "no-bitwise": 0,
    "prefer-const": "warn",
    "@typescript-eslint/no-unused-vars": "off",
    "react-hooks/exhaustive-deps": "off"
    // "no-console": ["error", { "allow": ["warn", "error"] }]
  },
  "globals": {
    "JSX": "readonly"
  },
  "plugins": [
    "prettier"
  ]
}